* {
  margin: 0;
  padding: 0;
}

#aisde {
  float: left;
  width: 300px;
  height: 1000px;
  background-color: rgb(119, 114, 114);
}

#logo {
  float: left;
  width: 300px;
  height: 200px;
  background-color: rgb(209, 198, 198);
}

#menu {
  float: left;
  width: 300px;
  height: 800px;
  background-color: rgb(75, 73, 73);
}

#section {
  width: 1200px;
  height: 900px;
  background-color: rgb(105, 105, 105);
}
#img {
  width: 1200px;
  height: 600px;
  background-color: rgb(204, 200, 200);
}
#gongGi {
  width: 300px;
  float: left;

  height: 350px;
  background-color: rgb(134, 133, 133);
}
#gall {
  width: 300px;
  float: left;

  height: 350px;
  background-color: rgb(59, 59, 59);
}
#Album {
  width: 300px;
  float: left;

  height: 350px;
  background-color: rgb(124, 121, 121);
}
#footer {
  width: 1200px;
  height: 50px;
  background-color: rgb(212, 18, 18);
}

#baner {
  width: 450px;
  float: left;

  height: 50px;
  background-color: rgb(90, 88, 88);
}
#pop {
  width: 450px;
  float: left;

  height: 50px;
  background-color: rgb(90, 88, 88);
}

#img:hover {
  width: 1500px;
}
