.top {
  height: 60px;
  display: block;
  background-color: rgb(129, 158, 221);
}
.Admin {
  font-size: 22px;
  color: aliceblue;
  display: inline-flex;
  margin-left: 1650px;
}
.left {
  display: block;
  margin-top: 0px;
  border-right: 1px solid rgb(184, 182, 182);
  background-color: rgb(221, 228, 241);
  padding-top: 30px;
  padding-left: 20px;
  width: 290px;
  height: 910px;
}

.leftBtn {
  padding: 8px 8px 8px 8px;
  margin: 0px 0px 0px 0px;
}
.leftBtn:hover {
  border: 5px solid rgb(135, 158, 235);
}
.AP {
  display: flex;
}
.select {
  height: 17px;
  font-size: small;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5px;
  border: 1px solid grey;
  color: rgb(252, 252, 252);

  background-color: rgb(149, 168, 231);

  padding: 5px 15px 5px 15px;
}
.center {
  width: 1490px;
  height: 900px;
  background-color: rgb(221, 228, 241);
  padding-left: 130px;
  padding-top: 40px;
}
.box {
  display: flex;
  justify-content: start;
}
.table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 10px;
}
.table td {
  padding: 10px;
  border: 1px solid rgb(168, 162, 162);
}
.img {
  position: fixed;
  margin-bottom: 5px;
  left: 20px;
  top: 5px;
  width: 50px;
  height: 50px;
  background: blue;
}
.btn {
  margin-top: 30px;
  margin-left: 450px;
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.bt {
  color: rgb(253, 253, 253);
  padding: 5px 10px 5px 10px;
  background-color: rgb(158, 155, 155);
}

.bt10 {
  color: rgb(253, 253, 253);
  padding: 5px 6px 5px 6px;
  background-color: rgb(158, 155, 155);
}

.bt:hover {
  background-color: rgb(96, 128, 235);
}

.bt10:hover {
  background-color: rgb(96, 128, 235);
}
